{
  "cocktails-api-prod": {
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:8000",
    "AWS_REGION": "us-east-1",
    "AWS_ACCESS_KEY_ID": "test",
    "AWS_SECRET_ACCESS_KEY": "test",
    "RECIPES_TABLE": "cocktails-recipes",
    "USERS_TABLE": "cocktails-users",
    "FAVORITES_TABLE": "cocktails-favorites",
    "JWT_SECRET": "local-dev-secret-change-me"
  }
}
